* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(127, 86, 167);
}

.header {
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: 4rem;
  color: white;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.heading span {
  font-size: 4rem;
  color: #efd81d;
}

.btn {
  width: 15rem;
  height: 4rem;
  background-color: #efd81d;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  border: none;
  margin-top: 3.5rem;
}

.boxes {
  width: 40%;
  height: 100%;
  perspective: 150rem;
}

.box {
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(30deg);
  position: relative;
}

.box-1 {
  left: -25rem;
  top: -6rem;
}

.box-2 {
  left: -11rem;
  top: -23rem;
}

.box-3 {
  left: 10rem;
  top: -23rem;
}

.box-4 {
  left: 25rem;
  top: -6rem;
}

.box-5 {
  left: 22rem;
  top: 13rem;
}

.box-6 {
  left: 0;
  top: 25rem;
}

.box-7 {
  left: -21rem;
  top: 14rem;
}

.box div {
  width: 7rem;
  height: 7rem;
  position: absolute;
  opacity: 0.8;
  box-shadow: 0.1rem 0.1rem 0.1rem #eee inset, -0.1rem -0.1rem 0.1rem #eee inset,
    0.1rem 0.1rem 3.5rem rgba(255, 255, 255, 0.2),
    -0.1rem -0.1rem 3.5rem rgba(255, 255, 255, 0.2);
}

.box-1 div {
  /* JavaScript */
  background-color: #efd81d;
}

.box-2 div {
  /* React */
  background-color: #61dbfb;
}

.box-3 div {
  /* Vue */
  background-color: #41b883;
}

.box-4 div {
  /* AngularJS */
  background-color: #b52e31;
}

.box-5 div {
  /* NodeJS */
  background-color: #43853d;
}

.box-6 div {
  /* Sass */
  background-color: #cf6498;
}

.box-7 div {
  /* Ember */
  background-color: #e04e39;
}

div .top-side {
  transform: rotateX(90deg) translateZ(3.5rem);
}

div .bottom-side {
  transform: rotateX(90deg) translateZ(-3.5rem);
}

div .front-side {
  transform: translateZ(3.5rem);
}

div .back-side {
  transform: translateZ(-3.5rem);
}

div .right-side {
  transform: rotateY(-90deg) translateX(3.5rem);
  transform-origin: right;
}

div .left-side {
  transform: rotateY(90deg) translateX(-3.5rem);
  transform-origin: left;
}
